@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations if needed */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

:root {
  --main-color: #6d0d57;
  --main-dark-color: #520b42;
  --main-transparent-color: #520b421a;
  --foreground: #171717;
}

@theme {
  --color-main: var(--main-color);
  --main-dark-color: var(--main-dark-color);
  --color-foreground: var(--foreground);
  --font-raleway: var(--font-cairo);
}

@layer components {
  .card {
    background-color: white;
    border-radius: 25px;
    padding: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundk: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tailwind-compatible utility class */
.spin-slow {
  @apply duration-300;
}
body {
  font-family: var(--font-cairo);
}

.box {
  @apply rounded-md bg-white p-4 shadow;
}
.elementskit-dropdown {
  @apply invisible absolute top-[100%] rounded-md bg-white p-4 opacity-0 shadow transition-all duration-500;
}

.group:hover .elementskit-dropdown {
  @apply visible opacity-100;
}
